{% extends 'adminnavbar.html' %}

{% block duplicate %}
<body>
<h3 align="center"> Course Details</h3>
<!--<form action="displaycourse" method="post">-->
    <table border="2" colspan="10" align="center">
        <tr>
            <th>Course Name </th>
            <th>Course Duration </th>
            <th>Course Fees </th>
            <th>Update Course</th>
            <th> Delete Course</th>
        </tr>

            {% for i in datatransfer %}
        <tr>
            <td> {{ i.course_name }} </td>
            <td> {{ i.course_duration }} </td>
            <td> {{ i.course_fees }} </td>
            <td>  <a href="{% url 'update_course' i.id %}">Update</a> </td>
            <td><a href="{% url 'delete_course' i.id %}">Delete</a> </td>

        </tr>
            {% endfor %}



    </table>
<!--</form>-->

</body>
</html>

{% endblock %}