{% extends 'adminnavbar.html' %}

{% block duplicate %}
<form  method="post">
    {% csrf_token %}
    <table align="center">
        <tr>
            <td>Student Name</td>
            <td><input type="text" name="txtstudname" value="{{ data.Student_name }}"></td>
        </tr>
        <tr>
            <td>Student Ph No</td>
            <td><input type="number" name="phno" value="{{ data.Student_ph }}"></td>
        </tr>
        <tr>
            <td>Student Email</td>
            <td><input type="email" name="studemail" value="{{ data.student_email }}"></td>
        </tr>
        <tr>
            <td >Student city</td>
            <td>
                <select name="studcity" >
                    <option selected> {{ citydata.City }} </option>
                    {% for i in city %}
                    <option >{{ i.citydata }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Course</td>
            <td>
                <select name="txtsudcourse">
                    <option selected> {{ coursedata.Student_course }} </option>
                    {% for i in coursedata %}
                    <option > {{ i.course_name }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Course Fees</td>

            <td><input type="number" name="txtfees" disabled></td>

        </tr>
        <tr>
            <td>Paid Fees</td>
            <td><input type="number" name="txtpaidfees" value="{{ data.paid_fees }}"></td>
        </tr>
        <tr>
            <td><input type="submit"  value="Update "></td>
        </tr>
    </table>
</form>
</body>
</html>


{% endblock %}